{% extends "UserBase.html" %} {% block content %}

{% if total_points == "0.00" %}

<div class="stats shadow bg-base-200 w-screen flex justify-center">
  <div class="stat w-min">
    <div class="stat-title">Available Budget</div>
    <div class="stat-value text-primary">{{ endUser.budget }}</div>
  </div>
</div>

{% else %}

<div class="stats shadow bg-base-200 w-screen flex justify-center">
  <div class="stat w-min">
    <div class="stat-title">Total Points</div>
    <div class="stat-value text-primary">{{ total_points }}</div>
  </div>
</div>
{% endif %}

<h1 class="text-3xl ml-10 p-5">Your Team ({{players|length}}/11 members)</h1>
<div class="overflow-x-auto m-6 flex justify-center">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Name</th>
        <th>University</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}

      <tr class="hover:bg-base-300">

        <td>{{ player.name }}</td>
        <td>{{ player.university }}</td>
        <td>{{ player.category }}</td>
        <td>{{ player.price }}</td>

        <td class="flex justify-center">
          <form action="{% url "userPlayerStatistics" player.id %}" method="GET">
            <button class="mr-1 btn btn-outline btn-info">Info</button>
          </form>
          <form action="{% url "editTeam" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="add" value="0">
            <input type="hidden" name="player_id" value="{{ player.id }}">
            <button class="mr-1 btn btn-outline btn-info">Remove Player From Team</button>
          </form>
        </td>

      </tr>


      {% endfor %}
    </tbody>
  </table>
</div>
<h1 class="text-3xl ml-10 p-5">Available Players</h1>
<form method="GET" action="{% url 'editTeam' %}" class="ml-12">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Category</legend>
    <select name="category" class="select" required>
      <option disabled selected>Pick a category</option>
      <option value="Batsman">Batsman</option>
      <option value="All-Rounder">All-Rounder</option>
      <option value="Bowler">Bowler</option>
    </select>
  </fieldset>
  <button type="submit" class="btn btn-primary ml-2">Filter</button>
</form>

  <div class="overflow-x-auto m-6 flex justify-center">
    <table class="table table-zebra">

      <thead>
        <tr>
          <th>Name</th>
          <th>University</th>
          <th>Category</th>
        <th>Price</th>
          <th></th>
        </tr>
      </thead>

      {% for player in availablePlayers %}

      <tr class="hover:bg-base-300">

        <td>{{ player.name }}</td>
        <td>{{ player.university }}</td>
        <td>{{ player.category }}</td>
        <td>{{ player.price }}</td>
        <td class="flex justify-center">
          <form action="{% url "userPlayerStatistics" player.id %}" method="GET">
            <button class="mr-1 btn btn-outline btn-info">Info</button>
          </form>
          {% if endUser.budget < player.price or players|length >= 11 %}
            <button class="mr-1 btn btn-outline btn-info" disabled>
                {% if players|length >= 11 %}
                Max Players Reached
                {% else %}
                Not Enough Budget
                {% endif %}
            </button>
          {% else %}
          
            <form action="{% url "editTeam" %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="player_id" value="{{ player.id }}">
              <button class="mr-1 btn btn-outline btn-info">Add Player to Team</button>
            </form>
          {% endif %}
        </td>

      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}