<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit11 Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


</head>

<body>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="{% url "userView" %}">Spirit11 User Interface</a>
        </div>
        <div class="dropdown dropdown-left">
            <div tabindex="0" role="button" class="btn m-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block h-5 w-5 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                    </path>
                </svg>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
                {% if user == "admin" %}
                <li><a href="{% url "playerView" %}">Player List</a></li>
                <li><a href="{% url "tournamentSummery" %}">Tournament Summery</a></li>
                <li></li>
                {% endif %}

                <li><a href="{% url "editTeam" %}">Select Your Team</a></li>
                <li><a href="{% url "leaderBoard" %}">Leaderboard</a></li>
                <li><a href="{% url "userBudget" %}">Budget Overview</a></li>
                <li><a href="{% url "spiriter" %}">Spiriter Chat</a></li>
                <li><a href="{% url "logOut" %}">Logout</a></li>

            </ul>
        </div>
    </div>


    {% block content %}
    {% endblock %}
</body>

</html>